version: "2.1"
services:
  api:
    build: .
    image: "urbansherpa_api_dev"
    user: "node"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=development
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=dev
      - POSTGRES_USER=dev_user
      - POSTGRES_PASSWORD=123456
    volumes:
      - ./:/home/node/app
    ports:
      - "3001:3001"
    command: "npm run api"
    depends_on:
      - db

  manager:
    build: .
    image: "urbansherpa_api_dev"
    user: "node"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/home/node/app
    ports:
      - "3000:3000"
    command: "npm run manager"
    depends_on:
      - api

  db:
    image: "postgres:9.6"
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: dev
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: 123456
    ports:
      - "4001:5432"

volumes:
  db:
